a:hover {
	font-style: bold;
}

nav a:hover::before {
	opacity: 1;
	font-style: normal;
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
}

td {
    font-size: 1.00em;
    padding:15px 45px 5px 45px;
	color: #1D4085;
}

table td.shrink {
    white-space:nowrap
}

a {
    color: #55AED4;
}

body {
  link: "#4d4d4d";
  font size: "2px";
  face: "arial,sans-serif";
  background-color: "#add8e6";
		   /* (PART A) SET BACKGROUND IMAGE */
  background-image: url("bmc1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
